<form action="#" method="post">
    <div class="form-group row">
        <label for="entidad" class="col-sm-5 col-form-label">
            Nombre de la organización
        </label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="entidad" required="required" 
            title="Requiere nombre de la organización" placeholder="Nombre de la organización" 
            name="entidad" value={{contact.entidad}}>
        </div>
    </div>
    <button type="submit" class="btn btn-secondary" value="Submit">Aceptar</button>
    <button type="submit" class="btn btn-secondary" value="Submit">Cancelar</button>
</form>